@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;0,700;1,300&display=swap');


  /* banner inicio */
  .banner {
      width: 80vw;
      height: 300px;
      display: flex;
      border-radius: 40px 40px 0px 0px;
  }

  /* menu */
  .menu {
      background: linear-gradient(rgb(11, 11, 139), black);
      width: 80vw;
      height: 50px;
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .menu a {
      text-decoration: none;
      color: white;
      font-size: 20px;
      margin-left: 30px;
      position: relative;
  }

  nav a::after {
      content: " ";
      width: 0%;
      height: 5px;
      background-color: #00bfead3;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: 0.2s ease-in-out;
  }

  nav a:hover::after {
      width: 100%;

  }

  /* ---------- sobre mim -------------------------- */

  .borda {
      border: 2px solid rgba(113, 113, 113, 0.588);
      border-top: none;
      border-bottom: none;
      width: 80vw;
      height: 100vh;
      background-color: #242441;

  }

  #sobre-mim {
      background-color: rgba(245, 245, 245, 0.689);
      margin-top: 10px;
      display: flex;
      flex-direction: row;
  }

  #sobre-mim div {
      position: relative;
  }

  #sobre-mim p {
      font-size: 18px;
      margin-left: 10px;
      margin-top: 10px;
      font-family: 'Josefin Sans', sans-serif;
      font-weight: 300;
      color: rgb(62, 62, 62);
      padding: 10px;
  }

  #sobre-mim span{
    font-weight: bold;
    color: blue;
  }


  #sobre-mim button {
      position: absolute;
      font-size: 30px;
      bottom: 40px;
      right: 400px;
      background: linear-gradient(rgb(13, 183, 50), rgb(119, 117, 117));
      color: white;
  }
  #sobre-mim button:hover{
    background:linear-gradient(blue,#00bfead3) ;
  }